.plans-screen-plan {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  opacity: 0.8;
}

.plans-screen-plan:hover {
  opacity: 1;
}

.plans-screen-info {
  margin-right: 3rem;
}

.plans-screen-plan > button {
  padding: 0.625rem 1.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}
