.row {
  color: white;
  margin-left: 1.25rem;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  padding: 1.25rem;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  max-height: 11.5rem; /* 184px */
  object-fit: contain;
  margin-right: 0.625rem;
  transition: transform 300ms ease-in-out;
}

.row_poster:hover {
  transform: scale(1.06);
  opacity: 1;
}
